.title {
    font-size: 22px;
    padding: 1rem 3rem;
    margin: 0;
}

.cart-container {
    padding: 1rem 3rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.cart-item-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5rem;

    &-detail {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-title {
            display: block;
            margin: 0;
        }

        &-price {
            display: block;
            margin: 0;
        }
    }
}

.resumen-content {
    width: 100%;
    // &-title {
    //     background: #777;
    //     color: #fff;
    //     display: flex;
    //     align-items: center;
    //     gap: 10px;
    //     padding: 1rem 1.5rem;
    //     font-size: 18px;
    //     p {
    //         margin: 0;
    //     }
    // }

    &-detail {
        padding: 2rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;

        p {
            font-weight: 500;
            margin: 0;
        }
    }

    &-btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.mat-mdc-dialog-actions {
    border-top: 1px solid #d9d9d9;
}

.empty_basket {
    gap: 0;
}